# Build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.preview
.env.production

# Misc
*.log
.DS_Store
coverage/
.turbo/

# Type definitions
next-env.d.ts

